<html>
<body>
Welcome to <%= @site_name %>
Hello <%= @name %>
The web server details: <br>
IP Address: <%= @ipaddress %> <br>
OS: <%= @operatingsystem %> Version: <%= @operatingsystemrelease %> <br>
Total Memory on the server: <%= @memorysize %> <br>
</body>
</html>